# qunix - A minimal Unix-like Kernel
# Copyright (C) 2026 - 2027 Yixiang Qiu. All rights reserved.
#
# This file is part of qunix, distributed under the GNU GPL v3.
# For full terms see the included LICENSE file.

# C header macro will only keep the config entries whose key starts with CONFIG_

# architecture
ARCH = i386
CONFIG_SMP = 0

# debug
DEBUG = 0

# toolchain
TOOLCHAIN = i686-elf-

# version
CONFIG_VERSION_MAJOR = 0
CONFIG_VERSION_MINOR = 1
CONFIG_VERSION_PATCH = 0

# kernel
KERNEL_NAME = qunix
CONFIG_PAGESIZE = 4096
CONFIG_PAGESHIFT = 12
CONFIG_KERNEL_VIRT_BASE = 0xC0000000
